 *{margin:0;padding:0;font:inherit;color:inherit;}
        *, :after, :before {box-sizing:border-box;flex-shrink:0;}
        :root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
        html, body {height:100%;}
        img, picture, video, canvas, svg {display: block;max-width:100%;}
        button {background:none;border:0;cursor:pointer;}
        a {text-decoration:none}
        table {border-collapse:collapse;border-spacing:0}
* {
    font-family: 'Sunflower', sans-serif;
    font-size: 13px;
}

.WritePost {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 1000px;
}

.title_wrap {
    text-align: center;
    padding-bottom: 80px;
}

.select_category {
    float: right;
    font-size: 9px;
}

.Basic_info_wrap {
    width: 650px;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
}

.img_wrap {
    position: relative;
    bottom: 80px;
    left: 30px;
    border: 1px solid black;
    display: inline-block;
    width: 230px;
    height: 160px;
}

.name_form {
    position: relative;
    top: 30px;
    left: 70px;
    display: inline-block;
    width: 300px;
    height: 130px;
}

.date_wrap {
    width: 650px;
    height: 100px;
    margin: auto;
    margin-bottom: -30px;

}

.start_date_info {
    width: 150px;
    height: 70px;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 80px;
}

.end_date_info {
    width: 150px;
    height: 70px;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 250px;
}

.prices_info_wrap {
    width: 650px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
}

.prime_prices {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 63px;
}

.sale_prices {
    display: inline-block;
    position: relative;
    left: 134px;
    top: 20px;
}

.arrow_img {
    display: inline-block;
    position: relative;
    top: 45px;
    left: 110px;
    width: 70px;
    height: 50px;
}

.detail_info_wrap {
    width: 650px;
    height: 100px;
    margin: auto;
}

.detail_info_form {
    width: 550px;
    height: 280px;
    margin: auto;
}

.button {
    width: 100px;
    height: 80px;
    margin: auto;
}