<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>Document</title>
</head>
<body>

<div class="mx-auto col-5" style="margin-top: 10rem;">
    <h1 class="text-center mb-3 text-secondary">datetime picker</h1>
</div>
<form>
    <input class="from-control" type="datetime-local" placeholder="Select DateTime">
</form>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    config = {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        altInput: true,
        allFormat: "Y-m-d\\Z",
    }

    flatpickr("#input[type=datetime-local]", {config});
</script>


</body>
</html>