<<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="daterangepicker.css" rel="stylesheet">
</head>
<body>

    <div class = "container mt-5 mb-5" style="width: 400px">
        <input type="text" id="picker" class="form-control">
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="momont.min.js"></script>
    <script src="daterangepicker.js"></script>
    <script>
        $('picker').daterangepiker({
            singleDatePicker: true,
            showDropdowns: true,
            opens:'right',
            drop:'down',
        });

    </script>
</body>
</html>